.mdContainer {
  width: 100%;
  display: flex;
  padding: 5rem 20rem;
  flex-direction: column;
  align-items: flex-start;
  /* overflow-x: auto; */
}

.mdContainer img {
  width: 100vw !important;
  height: auto !important;
}

@media only screen and (max-width: 70rem) {
  .mdContainer {
    padding: 3rem 7rem;
  }
}

@media only screen and (max-width: 50rem) {
  .mdContainer {
    padding: 1rem;
  }
}
