html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}


a {
  color: inherit;
  text-decoration: none;
}

.hm-main{
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 99999999;
  position:  sticky;
  top: 0; 
}

.menu {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  }
.menu:focus{
  outline: none;
  box-shadow: none;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  }
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  }
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  }
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  }
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  }
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.menu-box{
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.menu-box ol{
  font-size: xx-large;
  list-style: none;
  color: rgb(145, 145, 145);
}
.menu-box li{
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: rgb(145, 145, 145);
  font-size: xx-large;
}
.menu-box li:hover{
  color: rgb(110, 148, 163);; 
}

.container{

  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container div{
  
}
.container p{
  text-align: end;
  margin-right: 1rem;
}
.container h1{
  font-size: 5rem;
  color: rgb(22, 22, 22);
}
.container h3{
  font-weight: 100;
}


@media only screen and (max-width: 700px) {
  
  .container h1{
    font-size: 3.5rem;
    color: rgb(22, 22, 22);
  }
  .p-main{
    position: absolute;
  }
  div{
    word-wrap: break-word;
    white-space: initial;
  }
  .p-container{
    padding: 0.5rem;
    max-width: 95vw;
    word-wrap: break-word;
    flex-wrap: wrap ;
    display: flex;
  
  }
  .p-container img{
    max-width: 96vw;   
    max-height: 85%;
  }
}
.read-box{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

}
.read-blg{ 
  /* margin-right: 1rem; */
  background-color: black;
  color: white;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  
}
.read-blg:active{
  transform: scale(0.9);
}

@media only screen and (min-width: 1000px) {
  .p-html{
    padding: 0.5rem;
    margin-top: 42rem;
    display: flex;
    width: 50vw;
    flex-direction: column;
    padding-bottom: 10rem;
  }
  .p-container{
    height: 100%;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    flex-wrap: wrap ;
    padding: 1rem;
    /* background-color: aqua; */

  }
  .p-main{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
  }
  .post-container h2{
      font-size: 2.4rem;
      font-weight: 100;
      
  }
  .post-container{
    max-width: 60vw;
  }
  
}
.post-container h2{
  /* font-size: 2.4rem; */
  font-weight: 300;
  
}


.bgs-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%; 
  position: absolute;
  
}
.post-container{
  margin-bottom: 1rem;
  cursor: pointer;
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container h2:hover{
  color: rgb(3, 94, 94);
}
.post-container p{
  font-weight: 100;
  font-style: italic;
  margin-left: 0.5rem;
}
.post-meta{
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
  width: 80%;
  margin-top: -1rem;
  
}



.ft-icon-container{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  width: 100%;
}
.ft-icon-container i{
    margin: 1rem;
    zoom: 2;
}

.post-tag-box{
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.post-tag-box span{
  color: rgb(194, 219, 219);
  margin-left: 0.5rem;
  background-color: whitesmoke;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: small;

}


.hm-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.hm-box i{
  font-size: x-large;
  color: gray;
  margin-left: 0.2rem;
  cursor: pointer;
}
.post-searh-box{
  display: flex;
  justify-content: center;
}
.post-searh-box input{
  width: 40vw;
  padding: 0.4rem;
}

.post-container input:focus{
  width: 40vw;
}
.p-container-md{
  padding: 0.5rem;
}
.post-tag-main{
  display: flex;
  overflow-x: scroll;
}
.post-tag-main span{
  font-size: medium;
}

.post-tag-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.post-tag-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.active{
  color: red;
}

.post-tag-box-active{
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.post-tag-box-active span{
  color: rgb(92, 182, 243);
  margin-left: 0.5rem;
  background-color: whitesmoke;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: medium;

}